h1{
  text-align: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.form{
  justify-content: space-around;
  max-width: 300px;
  min-height: 300px;
  padding: 1em;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee;
  font-family: sans-serif;
}
form.flex-column input{
  margin-top: 0.5em;
  padding: 0.5em;
}